
# 4Geeks API Configuration

VITE_4GEEKS_API_URL=


# Notion API Configuration

VITE_NOTION_API_URL=
VITE_NOTION_TOKEN=
VITE_NOTION_VERSION=
VITE_NOTION_DATABASE_ID=

VITE_BACKEND_URL='http://localhost:xxxx/api'